<div class="modal-backdrop" (click)="onClose()"></div>
<div class="modal">
    <div class="modal-header">
        <h2>Media for {{ group.date | date: 'longDate' }}</h2>
        <button (click)="onClose()">Close</button>
    </div>
    <div class="modal-content">
        <div *ngFor="let image of group.images">
            <img [src]="image.url" alt="Image" />
        </div>
        <div *ngFor="let video of group.videos">
            <video [src]="video.url" controls></video>
        </div>
    </div>
</div>