@import '../../../variables.scss';

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $background-color;
    padding: $spacing-md;
    border-radius: 10px;
    z-index: 20;
    max-width: 800px;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-md;

        h2 {
            margin: 0;
            font-size: $font-size-md;
        }

        button {
            background-color: $secondary-color;
            color: $black-color;
            border: 2px solid black;
            border-radius: 5px;
            padding: $spacing-xs $spacing-sm;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: $font-size-md;
            font-weight: bold;

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }

    .modal-content {

        .image-gallery,
        .video-gallery {
            margin-bottom: $spacing-lg;

            h3 {
                font-size: $font-size-md;
                margin-bottom: $spacing-sm;
            }
        }

        .media-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: $spacing-md;

            .media-item {
                position: relative;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }

                img,
                video {
                    width: 100%;
                    max-height: 150px;
                    object-fit: cover;
                    border-radius: 5px;
                    transition: max-height 0.3s ease;
                }

                .download-icon {
                    position: absolute;
                    top: $spacing-xs;
                    right: $spacing-xs;
                    background-color: rgba(0, 0, 0, 0.7);
                    color: #fff;
                    padding: $spacing-xs;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: $font-size-sm;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: $secondary-color;
                        color: $black-color;
                    }
                }
            }
        }
    }
}