<div class="modal-backdrop" (click)="onClose()"></div>
<div class="modal">
    <div class="modal-header">
        <h2>Media for {{ group.date | date: 'longDate' }}</h2>
        <button (click)="onClose()">Close</button>
    </div>
    <div class="modal-content">
        <div class="image-gallery">
            <h3>Images</h3>
            <div class="media-grid">
                <div *ngFor="let image of group.images" class="media-item" (click)="expandImage(image)">
                    <img [src]="image.url" alt="Image" />
                    <a [href]="image.url" download class="download-icon">⬇</a>
                </div>
            </div>
        </div>
        <div class="video-gallery">
            <h3>Videos</h3>
            <div class="media-grid">
                <div *ngFor="let video of group.videos" class="media-item" (click)="expandVideo(video)">
                    <video [src]="video.url" controls></video>
                    <a [href]="video.url" download class="download-icon">⬇</a>
                </div>
            </div>
        </div>


    </div>
</div>