@import '../../../variables.scss';

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.input-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
}

.input-section .form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  flex-grow: 1;
}

.input-section .btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $secondary-color;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.input-section .btn:hover {
  background-color: darken($color: $secondary-color, $amount: 10%);
  font-weight: bold;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.gallery__item {
  position: relative;
}

.gallery__img {
  max-width: 100%;
  max-height: 400px;
  display: none;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.gallery__thumbs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.gallery__thumb img {
  width: 100px;
  height: 67px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.gallery__thumb img:hover, .gallery__thumb input:checked + label img {
  border: 2px solid black;
}

.gallery__selector {
  display: none;
}

.gallery__selector:checked + .gallery__img {
  display: block;
  opacity: 1;
}

.heading, .subheading {
  text-align: center;
}

.subheading {
  font-size: 20px;
  margin-bottom: 10px;
}
