<app-header></app-header>
<div class="container">
  <h3 class="heading">Instagram AI</h3>
  <div class="row">
    <div class="col-md-12 input-section">
      <label for="postUrl">Instagram Post URL</label>
      <input id="postUrl" type="text" class="form-control" placeholder="Enter URL" [(ngModel)]="postUrl">
      <button class="btn btn-primary" (click)="loadPost()">Load Post</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 gallery-section">
      <section class="gallery">
        <div *ngFor="let image of images; let i = index" class="gallery__item">
          <input type="radio" [id]="'img-' + (i + 1)" name="gallery" class="gallery__selector" [checked]="i === 0"/>
          <img class="gallery__img" [src]="image.src" alt="Image {{i + 1}}"/>
        </div>
        <div class="gallery__thumbs">
          <label *ngFor="let image of images; let i = index" [for]="'img-' + (i + 1)" class="gallery__thumb">
            <img [src]="image.thumb" alt="Thumbnail {{i + 1}}"/>
          </label>
        </div>
      </section>
    </div>  
  </div>
</div>
<app-footer></app-footer>
