<app-header></app-header>
<div class="form">
    <h2 class="title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input-container ic2">
            <input placeholder="" type="text" formControlName="email" class="input" id="email">
            <div class="cut cut-short"></div>
            <label class="iLabel" for="email">Email</label>
            <div class="errors" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                <small *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</small>
                <small *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email</small>
            </div>
        </div>
        <div class="input-container ic2">
            <input placeholder="" type="text" formControlName="password" class="input" id="password">
            <div class="cut"></div>
            <label class="iLabel" for="password">Password</label>
            <div class="errors"
                *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                <small *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</small>
            </div>
        </div>
        <button class="submit" type="text">Login</button>
        <p>Don't have an account? <a routerLink="/signup">Register</a></p>
    </form>
</div>

<app-footer></app-footer>