@import "../../variables.scss";

.features {
  padding: $spacing-lg $spacing-md;
  background-color: $background-color;
  text-align: center;

  h2 {
    font-size: $font-size-xl;
    margin-bottom: $spacing-md;
    color: $text-color;
  }

  .feature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    margin: 80px 0px 80px 0px;

    .feature-item {
      background-color: #fff;
      padding: $spacing-md;
      border-radius: 10px;
      box-shadow: 0 4px 8px $border-color;
      width: 300px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      img {
        max-width: 70px;
        margin-bottom: $spacing-sm;
        width: 60px;
      }

      h3 {
        font-size: $font-size-lg;
        margin-bottom: $spacing-sm;
        color: $primary-color;
      }

      p {
        font-size: $font-size-md;
        color: $muted-color;
      }
    }
  }

  @media (max-width: 768px) {
    .feature-grid {
      flex-direction: column;
      align-items: center;

      .feature-item {
        width: 90%;
        margin-bottom: $spacing-md;

        img {
          max-width: 60px;
        }

        h3 {
          font-size: $font-size-md;
        }

        p {
          font-size: $font-size-sm;
        }
      }
    }
  }
}

.box {
  position: relative;
  width: 260px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 20px;
  z-index: 1;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.box:hover:before,
.box:hover:after {
  transform: skewX(0deg) scaleX(1.3);
}

.box:before,
.box:after {
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)
}

.box span::before {
  top: -40px;
  left: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.box span:after {
  bottom: -40px;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box .content {
  position: relative;
  width: 90%;
  height: auto;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $background-color;
  text-align: center;
  transition: 0.5s;
}

.box .content h2 {
  font-size: 1.5rem;
  color: $black-color;
  margin-bottom: 10px;
}

.box .content img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.box .content p {
  font-size: 1em;
  margin: 0;
  line-height: 1.4;
  color: $black-color;
}