@import "../../variables.scss";

.features {
  padding: $spacing-lg $spacing-md;
  background-color: $background-color;
  text-align: center;

  h2 {
    font-size: $font-size-xl;
    margin-bottom: $spacing-md;
    color: $text-color;
  }

  .feature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-md;

    .feature-item {
      background-color: #fff;
      padding: $spacing-md;
      border-radius: 10px;
      box-shadow: 0 4px 8px $border-color;
      width: 300px; // Adjust if needed for layout
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      img {
        max-width: 70px; // Increased size from 50px to 70px
        margin-bottom: $spacing-sm;
        width: 60px;
      }

      h3 {
        font-size: $font-size-lg;
        margin-bottom: $spacing-sm;
        color: $primary-color;
      }

      p {
        font-size: $font-size-md;
        color: $muted-color;
      }
    }
  }

  // Mobile View Adjustments
  @media (max-width: 768px) {
    .feature-grid {
      flex-direction: column;
      align-items: center;

      .feature-item {
        width: 90%; // Full width on mobile, with some padding
        margin-bottom: $spacing-md;

        img {
          max-width: 60px; // Slightly smaller size for mobile
        }

        h3 {
          font-size: $font-size-md; // Slightly smaller heading size for mobile
        }

        p {
          font-size: $font-size-sm; // Slightly smaller paragraph size for mobile
        }
      }
    }
  }
}
