<section class="features">
  <h2>Key Features</h2>
  <div class="feature-grid">
    <div class="box">
      <div class="content">
        <img src="../../assets/features-info/community-icon.svg" alt="Community Icon" />
        <h2>Community Driven</h2>
        <p>Our platform thrives on community contributions and collaboration. Join us in building and improving the
          project.</p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/features-info/opensource-icon.svg" alt="" />
        <h2>Open Source</h2>
        <p>Completely open-source, allowing you to view, modify, and enhance the code. Contribute to the development or
          use it as you see fit.</p>
      </div>
    </div>
    <div class="box">
      <div class="content">
        <img src="../../assets/features-info/transparent-access-icon.svg" alt="" />
        <h2>Transparent and Accessible</h2>
        <p>We believe in transparency and accessibility, ensuring that our tools and resources are available to
          everyone.</p>
      </div>
    </div>
  </div>
</section>