.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo img {
    width: 100px;
  }

  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 15px;
    }

    a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      position: relative;
      padding-bottom: 5px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #000000;
        transition: width 0.3s ease;
      }

      &:hover {
        color: #000000;

        &::after {
          width: 100%;
        }
      }
    }
  }

  .auth-buttons {
    display: flex;

    a {
      margin-left: 15px;
      padding: 5px 15px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }

    .sign-up {
      color: #000;
    }

    .login {
      color: #fff;
      background-color: #ffd700;
      padding: 5px 15px;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ffc107;
      }
    }
  }
}
