.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.public-reaction-analysis-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 8px 8px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
}

.public-reaction-analysis-container:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #000;
}

.public-reaction-analysis-container h2 {
  font-size: 28px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.public-reaction-analysis-container h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.public-reaction-analysis-container:hover h2::after {
  transform: translateX(0);
}

.public-reaction-analysis-container h3 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.public-reaction-analysis-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

.public-reaction-analysis-container a {
  color: #ddbc00;
  text-decoration: none;
  transition: color 0.3s;
}

.public-reaction-analysis-container a:hover {
  color: #000;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .public-reaction-analysis-container {
    width: 95%;
    padding: 15px;
  }

  .public-reaction-analysis-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .public-reaction-analysis-container h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
  }

  .public-reaction-analysis-container p {
    font-size: 14px;
  }
}