<footer class="footer">
  <div class="footer-cta">
    <p>Ready to get started? Talk to us today</p>
    <a href="#" class="cta-button">Get started</a>
  </div>
  <div class="footer-main">
    <div class="footer-column">
      <img src="../../assets/logo-square-nobg.png" alt="Company Logo" class="footer-logo" />
    </div>
    <div class="footer-column">
      <h4>Github</h4>
      <ul>
        <li><a href="#">Project</a></li>
        <li><a href="#">User guide</a></li>
        <li><a href="#">Dev docs</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Usage Policy</a></li>
        <li><a href="#">License</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Not Quite Sure?</h4>
      <p>Drop us an email!</p>
      <form>
        <input type="email" placeholder="Enter your email" />
        <button type="submit">Send it...</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p>
      &copy; <span id="currentYear">{{ currentYear }}</span> Social Scope. All
      rights reserved.
    </p>
  </div>
</footer>