<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <img src="assets/logo-square.png" alt="Company Logo" class="logo">
            <p>Social Scope - Where AI Meets Imagination.</p>
        </div>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Usage policy</a></li>
                <li><a href="#">License</a></li>
            </ul>
        </div>

        <div class="footer-section newsletter">
            <h3>Newsletter</h3>
            <form>
                <input type="email" placeholder="Your Email" />
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-bottom">
        <p>&copy; {{currentYear}} Social Scope | All Rights Reserved</p>
    </div>
</footer>