@import "../../variables.scss";

.tech-stack {
    padding: $spacing-lg $spacing-md;
    background-color: $background-color;
    text-align: center;

    h2 {
        font-size: $font-size-xl;
        margin-bottom: $spacing-md;
        color: $black-color;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $spacing-lg;

        .card {
            position: relative;
            width: 200px;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 10px;
            color: rgb(0, 0, 0);
            cursor: pointer;
            transition: transform 400ms, filter 400ms;
            backdrop-filter: blur(30px);
            background-color: rgba(65, 65, 65, 0.11);
            border: 1px solid rgba(144, 161, 255, 0.171);

            &:hover {
                transform: scale(1.1);
            }

            &:hover>.second-text {
                display: block;
            }

            .tip {
                font-size: 1em;
                font-weight: 700;
            }

            .second-text {
                font-size: 0.7em;
                display: none;
            }
        }

        img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            margin-bottom: $spacing-sm;
        }
    }

    .cards:hover>.card:not(:hover) {
        filter: blur(5px);
        transform: scale(0.9);
    }

    @media (max-width: 768px) {
        .cards {
            flex-direction: column;
            align-items: center;

            .card {
                width: 90%;
                margin-bottom: $spacing-md;
            }
        }
    }
}