<header class="header">
  <div class="header-section logo-nav">
    <div class="logo">
      <img src="assets/logo-square.png" alt="Social Scope Logo" />
    </div>
    <nav class="nav">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/features">Features</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-section search-section">
    <input type="text" class="search-field" placeholder="Search..." />
  </div>
  <div class="header-section auth-section">
    <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
      <a routerLink="/signup" class="sign-up">Sign Up</a>
      <a routerLink="/login" class="login">Login</a>
    </ng-container>

    <ng-template #loggedInTemplate>
      <div class="profile-badge">
        <a routerLink="/dashboard">
          <span class="user-name">{{userName}}</span>
        </a>
      </div>
      <button (click)="logout()" class="logout-button">Logout</button>
    </ng-template>
  </div>
</header>