@import "../../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  .header-section {
    flex: 1;
    display: flex;
    align-items: center;

    &.logo-nav {
      justify-content: flex-start;
    }

    &.search-section {
      justify-content: center;
    }

    &.auth-section {
      justify-content: flex-end;
    }
  }

  .logo {
    margin-right: 20px;

    img {
      width: 40px;
    }
  }

  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 20px;
    }

    a {
      text-decoration: none;
      color: $black-color;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid transparent;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover {
        background-color: $secondary-color;
        border-color: $black-color;
        color: $black-color;
      }
    }
  }

  .search-field {
    width: 300px;
    padding: 10px 15px;
    border-radius: 25px;
    outline: none;
    font-size: $font-size-md;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &:focus {
      border-color: $black-color;
    }
  }

  .auth-section {
    display: flex;
    align-items: center;

    .user-name {
      margin-right: 0px;
      font-size: $font-size-md;
      color: $black-color;
      font-weight: bolder;
    }

    a {
      margin-left: 15px;
      padding: 10px 20px;
      border-radius: 25px;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s;

      &.sign-up {
        background-color: transparent;
        border: 2px solid $black-color;
        color: $black-color;

        &:hover {
          background-color: $secondary-color;
          color: $black-color;
          border: 2px solid $black-color;
        }
      }

      &.login {
        background-color: $secondary-color;
        color: $black-color;
        border: 2px solid black;

        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .header-section {
      flex-direction: column;
      margin-bottom: 10px;

      &.search-section {
        order: 1; // Position the search bar below the logo and nav
      }

      &.auth-section {
        order: 2; // Position the auth section below the search bar
      }
    }

    .nav ul {
      flex-direction: column;

      li {
        margin: 10px 0;
      }
    }

    .search-field {
      width: 80%;
      margin-bottom: 10px;
    }

    .auth-section {
      a {
        margin: 5px 0;
        width: 100%;
        max-width: 200px;
      }
    }
  }
}